.myfirstForm {

    background-color: hsl(180, 57%, 82%);
    padding: 12px 60px;
    @include flex1(row,space-between,center);
    position: fixed;
    top: 50px;
    left:0;
    right:0;
    width: 100%;
}