body {
    background-color: rgb(218, 247, 237);
}

.myfirstForm {
  background-color: hsl(180, 57%, 82%);
  padding: 12px 40px;
  @include flex1(column, space-between, center);
  position: flex;
  margin-top: 2vh;
  justify-content: center;
  top: 27vh;
  left: auto;
  right: auto;
  width: auto;
}
